<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8">
<title>Borrowed Money</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">Borrowed Money</a> <a href="#"> </a>
		</div>
	</nav>
	<div class="container">

		<form>
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label> <input
					th:value=${emprestimoDetalhesDto.nome} value="Marcos Silva"
					type="text" class="form-control" name="nome" id="nome" disabled>
			</div>
			<div class="form-floating mb-3 col-5 col-sm-4 col-md-3 col-xl-2">
				<input th:value=${emprestimoDetalhesDto.valor} type="number"
					class="form-control" placeholder="123456" id="valor" name="valor"
					disabled> <label for="valor">Valor</label>
			</div>
			<div class="mb-3 col-5 col-sm-4 col-md-3 col-xl-2">
				<label for="data" class="form-label">Data</label> <input
					th:value=${emprestimoDetalhesDto.data} type="date"
					class="form-control" name="data" disabled>
			</div>
			<div class="mb-3 col-2 col-sm-2 col-md-1 col-xl-1">
				<label for="percentual" class="form-label">Percentual</label> <input
					th:value=${emprestimoDetalhesDto.percentual} type="text"
					class="form-control" name="percentual" disabled>
			</div>
			<div class="mb-3  col-5 col-sm-4 col-md-3 col-xl-2">
				<label for="valorDevido" class="form-label">Amortizado</label> <input
					th:value="${#numbers.formatCurrency(emprestimoDetalhesDto.valorDevido)}"
					type="number" class="form-control" name="valorDevido" disabled>
			</div>
			<div class="mb-3">
				<label for="observacao" class="form-label">Observação</label>
				<textarea th:text="${emprestimoDetalhesDto.observacao}"
					class="form-control" id="observacao" name="observacao" rows="3"
					disabled></textarea>
			</div>
		</form>

		<a href="/emprestimo/juros/formulario">
			<button class="btn btn-outline-primary">Juros</button>
		</a>

		<hr />

		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Data</th>
					<th scope="col">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="juros, iter : ${emprestimoDetalhesDto.juros}">
					<td><span th:text=${iter.index+1}></span></td>
					<td><span
						th:text="${#temporals.format(juros.data, 'dd/MM/yyyy')}"></span></td>
					<td><span th:text="${#numbers.formatCurrency(juros.valor)}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>