<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8">
<title>Borrowed Money</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">Borrowed Money</a> <a href="/emprestimo/novo">
			</a>
		</div>
	</nav>
	<div class="container">
		<form action="/emprestimo/salvar" method="post">
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label> 
				<input type="text" class="form-control" name="nome" id="nome" aria-describedby="nomeHelp">
				<div id="nomeHelp" class="form-text">Informe um nome para o emprestimo.</div>
			</div>
			<div class="form-floating mb-3 col-5 col-sm-4 col-md-3 col-xl-2">
				<input type="number" class="form-control" placeholder="123456" id="valor" name="valor">
				<label for="valor">Valor</label>
			</div>
			<div class="mb-3 col-5 col-sm-4 col-md-3 col-xl-2">
				<label for="data" class="form-label">Data</label>
				<input type="date" class="form-control" name="data">
			</div>
			<div class="mb-3 col-2 col-sm-2 col-md-1 col-xl-1">
				<label for="percentual" class="form-label">Percentual</label>
				<input type="text" class="form-control" name="percentual">
			</div>
			<div class="mb-3  col-5 col-sm-4 col-md-3 col-xl-2">
				<label for="valorDevido" class="form-label">Amortizado</label>
				<input type="number" class="form-control" name="valorDevido">
			</div>
			<div class="mb-3">
  				<label for="observacao" class="form-label">Observação</label>
  				<textarea class="form-control" id="observacao" name="observacao" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-outline-primary">Salvar</button>
		</form>
	</div>
</body>
</html>